.post-more-link {
  margin-top: 20px;

  .btn {
    color: $accentGreenColor;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border 2px $accentGreenColor solid;
    border-radius: $read-more-border-radius;
    line-height: 2;
  }
  .btn:hover {
    //@extend .btn:hover;
    color: white;
    font-size: $read-more-font-size;
    background: $accentGreenColor;
    border 2px $accentGreenColor solid;
    border-radius: $read-more-border-radius;
    line-height: 2;
  }
}
