.posts-expand { //移除
  .post-eof {
    display: none;
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    width: 80%;
    height: 1px;
    background: $black26;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
