.tag-cloud {
  background white;
  border-radius: 4px;
  padding 20px;
  padding-top 5px;

  -moz-box-shadow: 0px 0px 4px #cecece;
  -webkit-box-shadow: 0px 0px 4px #cecece;
  box-shadow: 0px 0px 4px #cecece;

  text-align: center;

  a {
    display: inline-block;
    margin: 10px;
  }
}

.tag-cloud:hover {
  -moz-box-shadow: 0px 0px 10px #a5a5a5;
  -webkit-box-shadow: 0px 0px 10px #a5a5a5;
  box-shadow: 0px 0px 10px #a5a5a5;
}
